.productpagecontainer1{
    height: 1400px;
    width: auto;
    margin: 0;
    padding: 14px;
    background-color: #FEF7E4;
}

.productheaddesc1{
    font-size: 16px;
    color: #52525C;
    display: inline-flex;
    margin:14px 12px 0 0 ;
    gap: 8px;
}

.productpagedetail{
    gap: 12px;
    padding: 26px;
    display: flex;
}

.productpageleft{
    width: 678px;
    height: 1246px;
}

.productpageright{
    width: 300px;
    height: 1246px;
}

.productpageimage{
    height: 578px;
    width: 678px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}

.productheaderimage{
    height: 396px;
    width: 678px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.productimagescroller{
    list-style: none;
    display: flex;
    height: 154px;
    width: 678px;
    padding: 10px;
    gap: 10px;
    margin-left: 10px;
}

.productimageone{
    height: 122px;
    width: 208px;
    border-radius: 10px;
}

.productdescription{
    height: 174px;
    width: 678px;
    padding: 32px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    margin-top: 14px;
}

.producttitle{
    color:#0A0A0A;
    font-size: 16px;
}

.productdescpara{
    color: #3F3F47;
    font-size: 16px;
    width: 640px;
    line-height: 26px;
    margin-top: 14px;
}

.productfeatures{
    height: 82px;
    width: 658px;
    display: flex;
    justify-content: space-between;
}

.productfeaturesleft{
    list-style: none;
    width: 320px;
    gap: 12px;
    margin-top: 14px;
}

.productfeaturelist{
    color: #0A0A0A;
    font-size: 14px;
    display: flex;   
    align-items: center;  
    margin-top: 4px;
    gap: 6px;             
}

.featuredoticon{
    color: #D4AF37;
    font-size: 24px;
}

.productfeaturesright{
    list-style: none;
    gap: 12px;
    width: 320px;
    margin-top: 14px;
}

.productowner{
    height: 240px;
    width: 678px;
    padding: 32px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    margin-top: 14px;
}

.productowner1{
    height: 188px;
    width: 342px;
    padding: 32px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    margin-top: 14px;
}

.productownerinfo{
    height: 40px;
    width: 658px;
    display: flex;
    margin-top: 14px;
}

.productownericon{
    height: 32px;
    width: 32px;
    border-radius: 10px;
    padding: 6px;
    color: #52525C;
    background-color: #F4F4F5;
    font-size: 20px;
    margin: 6px 8px 0 0 ;
}

.productownedetails{
    list-style: none;
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.productownerdata{
    color: #71717B;
    font-size: 14px;
}

.productownername{
    color: #0A0A0A;
    font-size: 14px;
}

.productstatus{
    height: 262px;
    width: 342px;
    border-radius: 14px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    padding: 16px;
    padding-left: 25px;
}

.currentstatus{
    font-size: 14px;
    color: #71717B;
    display: inline-block;
    margin-top: 20px;
}

.currentstatus1{
    font-size: 14px;
    color: #71717B;
    display: inline-flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.productpageactivetag{
    font-size: 12px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #0A0A0A;
    padding: 4px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.productpagepricetag{
    color: #D4AF37;
    font-size: 24px;
    margin-top: 16px;
}

.productbreakline{
    height: 1px;
    background-color: #c6c6c7;
    width: 290px;
    margin-top: 14px;
}

.productperformance{
    width: 342px;
    height: 184px;
    border-radius: 14px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    padding: 16px;
    padding-left: 25px;
    margin-top: 20px;
}

.performanceviews{
    display: flex;
    justify-content: space-between;
    margin: 8px 20px 0 0 ;
}

.performancecount{
    color: #0A0A0A;
    font-size: 18px;
    margin-top: 20px;
}

.productpagebuttons{
    height: 134px;
    width: 342px;
    border-radius: 14px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.editproductbutton{
    height: 36px;
    width: 292px;
    border-radius: 8px;
    background-color: #D4AF37;
    color: #0A0A0A;
    border-color: #D4AF37;
    display: inline-flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.productsbackbutton{
    height: 36px;
    width: 292px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    color: #0A0A0A;
    border-color: 1.25px rgba(153, 153, 153, 0.1);
    font-size: 14px;
}