.addLead-container {
  padding: 10px;
  background: #f4efe6;
  min-height: 100vh;
  width: 1024px;
  font-family: "Segoe UI", sans-serif;
}

.addLead-header {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #efe6cf;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.addLead-header h1 {
  margin: 0;
  color: #b45309;
}

.addLead-header p {
  margin: 4px 0 0;
  color: #6b7280;
}

.back-btn {
  background: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.card24 {
  border-radius: 14px;
  margin-bottom: 25px;
  width: 1004px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  background: white;
}

.card-header {
  padding: 18px 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-header h3 {
  margin: 0;
}

.card-header span {
  font-size: 14px;
  opacity: 0.8;
}

.blue { background: #dbeafe; color: #1d4ed8; }
.purple { background: #ede9fe; color: #6d28d9; }
.green { background: #d1fae5; color: #047857; }
.orange { background: #ffe4e6; color: #c2410c; }
.yellow { background: #fef9c3; color: #a16207; }

.card-body {
  padding: 25px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group.full {
  width: 100%;
  margin-bottom: 18px;
}

label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.addleadlabel{
    color: #1447E6;
    font-size: 14px;
    font-weight: bold;
}

.addleadlabel1{
    color: #8200DB;
    font-size: 14px;
    font-weight: bold;
}

.addleadlabel2{
    color: #008236;
    font-size: 14px;
    font-weight: bold;
}

.addleadlabel3{
    color: #CA3500;
    font-size: 14px;
    font-weight: bold;
}

.budget-label{
    color: #BB4D00;
    font-size: 14px;
    font-weight: bold;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f9fafb;
  outline: none;
  font-size: 14px;
}

.leadinputtext{
    color: #717182;
    font-size: 14px;
    font-weight: 400;
}

.back-btn{
    padding: 8px;
}

textarea {
  height: 100px;
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #6366f1;
  background: white;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;
}

.cancel-btn {
  background: #e5e7eb;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.create-btn {
  background: #D4AF37;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
