@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  font-family: 'Arimo', sans-serif;
}
