.userscontainer{
    height: 1400px;
    width: auto;
    margin: 0;
    background-color: #FFF9E8;
    padding: 14px;
}

.userstats{
    height: 106px;
    width: 1030px;
    list-style: none;
    display: inline-flex;
    gap: 24px;
    margin-top: 32px;
}

.userstats1{
    height: 86px;
    width: 1030px;
    list-style: none;
    display: inline-flex;
    gap: 24px;
    margin-top: 12px;
}

.userstat1{
    height: 86px;
    width: 228px;
    border-radius: 14px;
    padding: 24px;
    background-color: #FAF5FF;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
}

.userstat{
    height: 106px;
    width: 240px;
    border-radius: 14px;
    padding: 24px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
}

.userstattitle{
    color: #9810FA;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.userstattitle1{
    color: #009966;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.userstattitle2{
    color: #F54900;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.userstattitle3{
    color: #155DFC;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.userstatvalue{
    color: #59168B;
    font-size: 24px;
}

.userstatvalue1{
    color: #004F3B;
    font-size: 24px;
}

.userstatvalue2{
    color: #7E2A0C;
    font-size: 24px;
}

.userstatvalue3{
    color: #1C398E;
    font-size: 24px;
}

.productcatname.tolet.active {
    background-color: #DCFCE7;
    color: #15803D;
}


.userdoticon{
    background-color: #C0C0C0;
    height: 10px;
    width: 10px;
    border-radius: 6px;
    display: inline-flex;
    margin-right: 4px;
}

.userdoticon1{
    background-color: #D4AF37;
    height: 10px;
    width: 10px;
    border-radius: 6px;
    display: inline-flex;
    margin-right: 4px;
}

.userdoticon2{
    background-color: #0A0A0A;
    height: 10px;
    width: 10px;
    border-radius: 6px;
    display: inline-flex;
    margin-right: 4px;
}

.userproductstats{
    height: 200px;
    width: 1030px;
    border-radius: 14px;
    padding: 24px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #ffffff;
}

.productcatmain2{
    height: 80px;
    width: 1030px;
    border-radius: 14px;
    padding: 18px;
    margin-top: 24px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
}

.userscategory{
    height: 48px;
    width: 1030px;
    background-color: #FAFAFA;
    border-radius: 14px;
    list-style: none;
    display: flex;
    margin-top: 24px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
}

.usercategoryname{
    color: #0A0A0A;
    font-size: 14px;
    display: flex;
    width: 264px;
    justify-content: center;
    align-items: center;
}

.producttable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 14px;
    box-shadow: inset 0 0 0 1.25px rgba(0, 0, 0, 0.1);
}

.producttable th {
    background-color: #F4F4F5;
    text-align: left;
    font-size: 13px;
    color: #52525C;
    padding: 12px;
    text-align: center;
    border-radius: 14px;
}

.producttable td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #E4E4E7;
    font-size: 14px;
    color: #18181B;
}

.producttable tr:hover {
    background-color: #FAFAFA;
}

.userprofile{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: #C0C0C0;
    border: 1px solid #000000;
}

.userprofile1{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: #D4AF37;
    border: 1px solid #000000;
}

.userprofile2{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: #0A0A0A;
    color: #ffffff;
}

.userrowdata{
    display: flex;
    gap: 8px;
    text-align: left;
    margin-left: 16px;
}

.userprofilename{
    color: #0A0A0A;
    font-size: 14px;
    margin-top: 4px;
}

.userprofileemail{
    color: #71717B;
    font-size: 12px;
    margin-top: 4px;
}

.userplantags{
    color: #C0C0C0;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    padding: 4px;
    width: fit-content;
    border: 2px solid #C0C0C0;
}

.userplantags1{
    color: #D4AF37;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    padding: 4px;
    width: fit-content;
    border: 2px solid #D4AF37;
}

.userplantags2{
    color: #0A0A0A;
    font-size: 12px;
    font-weight: bold;
    border-radius: 8px;
    padding: 4px;
    width: fit-content;
    border: 2px solid #0A0A0A;
}

.userstatustags{
    color: #ffffff;
    font-size: 12px;
    border-radius: 8px;
    padding: 4px;
    width: fit-content;
    background-color: #009966;
}

.userstatustags1{
    color: #52525C;
    font-size: 12px;
    border-radius: 8px;
    padding: 4px;
    width: fit-content;
    background-color: #E4E4E7;
}

.userproductnum{
    color: #0A0A0A;
    font-weight: bold;
    font-size: 14px;
}

.userleadsnum{
    color: #D4AF37;
    font-weight: bold;
    font-size: 14px;
}

.userdatenum{
    color: #52525C;
    font-size: 14px;
}